<%
if(alert_msg !='' && alert_msg != undefined){

    var icon = 'notification-off-line';
    var status =  alert_msg.status ;                        
    if (alert_msg.status != "success") {
        status = "danger";
        icon = 'error-warning-line';
    }
%>
    <div id="alert_msg">
        <div class="alert alert-<%=status%> alert-dismissible alert-solid alert-label-icon fade show" role="alert">
            <i class="ri-<%=icon%> me-3 label-icon"></i>
            <%=alert_msg.message%>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"> </button>
        </div>
    </div>
    <% } %>